
/* styles.css */

/* Styles for login and register forms */
.form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 50px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #45a049;
}

/* Styles for links in login and register pages */
.form-container a {
    color: #4caf50;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: inline;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    width: 250px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #45a049;
}
